@for (player of game.players; let i = $index; track player) {
    <app-player [name] = "player" [playerActive]="i == game.currentPlayer" [style.top.px]="80 + (i*90)" class="player-postion"></app-player>
}

<div class="play-ground">
    <div class="card-stack">
        @for(num of arrNumb; let i = $index; track num){
            <img [style.right.px]="i*5" src="img/cards/card_cover.png" alt="cards">
        };
    </div>
    <div class="card-stack">
        
        <img (click)="takeCard()"  style="right: 25px" src="img/cards/card_cover.png" alt="cards">
        @for(card of game.playedCards; let i = $index; track card){
            <img src="/img/cards/{{card}}.png" alt="played card" class="played-card">
        };
        <img (click)="takeCard()" *ngIf="pickCardAnimation" class="pick-card" style="right: 25px" src="img/cards/{{ currentCard }}.png" alt="cards">
    </div>
</div>
<button (click)="openDialog()" class="button-add" mat-fab aria-label="Example icon button with a delete icon">
    <mat-icon>add</mat-icon>
    </button>
