<div class="play-ground">
    <div class="card-stack">
        @for(num of arrNumb; let i = $index; track num){
            <img [style.right.px]="i*5" src="img/cards/card_cover.png" alt="cards">
        };
    </div>
    <div class="card-stack">
        
        <img (click)="takeCard()"  style="right: 25px" src="img/cards/card_cover.png" alt="cards">
        <img (click)="takeCard()" *ngIf="pickCardAnimation" class="pick-card" style="right: 25px" src="img/cards/{{ currentCard }}.png" alt="cards">
    
    </div>
</div>
