.info-card {
    position: absolute;
    bottom: 32px;
    left: 100px;
    right: 100px;
    color: #f2e0c0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #a06c4e;
    border: 1px solid #f2e0c0;
}